@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    /*Style Guide*/
    
    /*Colors*/
    --dark100: #1F2041;
    --dark75:rgba(31, 32, 65, 0.75);
    --dark50:rgba(31, 32, 65, 0.5);
    --dark25:rgba(31, 32, 65, 0.25);
    --dark5:rgba(31, 32, 65, 0.05);
    --purple: #BC9CFF;
    --green: #6FCF97;

    /*Margin*/
    --margin: 8px;

    /*Fonts*/
    --font_size_1: 700/24px;
    --font_size_2: 700/19px;
    --font_size_3: 700/12px;
    --font_size_4: 400/14px;



}

body {
    font-family: 'Montserrat', sans-serif;
    font: 400/14px;
}

h1 {
    font: 700/24px;
}
h2 {
    font: 700/19px;
}
h3 {
    font: 700/12px;
}